{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!--Start Sidebar Widgets Column Section-->
<div class="col-md-4 float-right">
    <div class="card my-4">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text">This Awesome Blog Is Made On The Top Of Our Favourite Full Stack Framework 'Django', Follow Up The Tutorial To Learn How We Made It..!</p>
            <a href="https://djangocentral.com/building-a-blog-application-with-django" class="btn btn-danger">Know More!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}
        